
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/node_modules/
/.php_tmp/
###< symfony/framework-bundle ###

###> github ###
/.github/
###< github ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> Sass compiled files ###
public/build/
*.css.map
assets/**/*.css
###< Sass compiled files ###

###> TypeScript compiled files ###
assets/scripts/**/*.js
assets/scripts/**/*.js.map
###< TypeScript compiled files ###
