services:
  mariadb:
    image: mariadb:11.8.2
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: ecoride
      MARIADB_ALLOW_EMPTY_PASSWORD: "no"
    ports:
      - "3306:3306"
    volumes:
      - db_data_dev:/var/lib/mysql:rw
    networks:
      - app_network

  mongodb:
    image: mongo:8.0.15
    restart: unless-stopped
    environment:
      - MONGODB_INITDB_DATABASE=${MONGODB_DB:-app}
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=root
    ports:
      - "27017:27017"
    volumes:
      - mongo_data_dev:/data/db:rw
    networks:
      - app_network

  mongo-express:
    image: mongo-express:latest
    depends_on:
      - mongodb
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://root:root@mongodb:27017/
      ME_CONFIG_BASICAUTH_ENABLED: true
      ME_CONFIG_BASICAUTH_USERNAME: root
      ME_CONFIG_BASICAUTH_PASSWORD: root
    networks:
      - app_network

  phpmyadmin:
    image: phpmyadmin:latest
    depends_on:
      - mariadb
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      - PMA_ARBITRARY=1
    networks:
      - app_network

  mailer:
    image: axllent/mailpit:latest
    restart: unless-stopped
    ports:
      - "1025:1025"  # SMTP
      - "8025:8025"  # Web UI
    environment:
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
    networks:
      - app_network

volumes:
  db_data_dev:
  mongo_data_dev:

networks:
  app_network: