CREATE DATABASE IF NOT EXISTS ecoride;
USE ecoride;

CREATE TABLE brands (
    id INT AUTO_INCREMENT NOT NULL,
    name VARCHAR(50) NOT NULL,
    UNIQUE INDEX UNIQ_7EA244345E237E06 (name),
    INDEX IDX_7EA244345E237E06 (name),
    PRIMARY KEY (id)
);

CREATE TABLE cars (
    uuid UUID NOT NULL COMMENT '(DC2Type:uuid)',
    brand_id INT NOT NULL,
    model_id INT NOT NULL,
    plate VARCHAR(255) NOT NULL,
    fuel_type VARCHAR(255) NOT NULL,
    color VARCHAR(255) NOT NULL,
    total_seats SMALLINT NOT NULL,
    UNIQUE INDEX UNIQ_95C71D14719ED75B (plate),
    INDEX IDX_95C71D1444F5D008 (brand_id),
    INDEX IDX_95C71D147975B7E7 (model_id),
    PRIMARY KEY (uuid)
);

CREATE TABLE car_user (
    car_uuid UUID NOT NULL COMMENT '(DC2Type:uuid)',
    user_uuid UUID NOT NULL COMMENT '(DC2Type:uuid)',
    INDEX IDX_46F9C2E51A15440A (car_uuid),
    INDEX IDX_46F9C2E5ABFE1C6F (user_uuid),
    PRIMARY KEY (car_uuid, user_uuid)
);

CREATE TABLE Carpoolers (
    id INT AUTO_INCREMENT NOT NULL,
    travel_uuid UUID NOT NULL COMMENT '(DC2Type:uuid)',
    user_uuid UUID NOT NULL COMMENT '(DC2Type:uuid)',
    slots SMALLINT NOT NULL,
    cost INT NOT NULL,
    booked_at DATETIME NOT NULL COMMENT '(DC2Type:datetime_immutable)',
    INDEX IDX_D62B20652B62D229 (booked_at),
    INDEX IDX_D62B20651A27B30B (travel_uuid),
    INDEX IDX_D62B2065ABFE1C6F (user_uuid),
    PRIMARY KEY (id)
);

CREATE TABLE models (
    id INT AUTO_INCREMENT NOT NULL,
    brand_id INT NOT NULL,
    name VARCHAR(100) NOT NULL,
    INDEX IDX_E4D630095E237E06 (name),
    INDEX IDX_E4D6300944F5D008 (brand_id),
    UNIQUE INDEX UNIQ_MODEL_BRAND_NAME (brand_id, name),
    PRIMARY KEY (id)
);

CREATE TABLE reviews (
    id INT AUTO_INCREMENT NOT NULL,
    author_uuid UUID NOT NULL COMMENT '(DC2Type:uuid)',
    user_uuid UUID DEFAULT NULL COMMENT '(DC2Type:uuid)',
    rate SMALLINT NOT NULL,
    created_at DATETIME NOT NULL COMMENT '(DC2Type:datetime_immutable)',
    content LONGTEXT DEFAULT NULL,
    INDEX IDX_6970EB0F3590D879 (author_uuid),
    INDEX IDX_6970EB0FABFE1C6F (user_uuid),
    PRIMARY KEY (id)
);

CREATE TABLE roles (
    id INT AUTO_INCREMENT NOT NULL,
    user_uuid UUID NOT NULL COMMENT '(DC2Type:uuid)',
    role VARCHAR(255) NOT NULL,
    INDEX IDX_B63E2EC7ABFE1C6F (user_uuid),
    PRIMARY KEY (id)
);

CREATE TABLE transactions (
    id INT AUTO_INCREMENT NOT NULL,
    user_uuid UUID NOT NULL COMMENT '(DC2Type:uuid)',
    credits INT NOT NULL,
    currency VARCHAR(255) NOT NULL,
    price INT NOT NULL,
    create_at DATETIME NOT NULL COMMENT '(DC2Type:datetime_immutable)',
    comment LONGTEXT DEFAULT NULL,
    INDEX IDX_EAA81A4CABFE1C6F (user_uuid),
    PRIMARY KEY (id)
);

CREATE TABLE travels (
    uuid UUID NOT NULL COMMENT '(DC2Type:uuid)',
    driver_uuid UUID NOT NULL COMMENT '(DC2Type:uuid)',
    car_uuid UUID NOT NULL COMMENT '(DC2Type:uuid)',
    departure VARCHAR(90) NOT NULL,
    arrival VARCHAR(90) NOT NULL,
    date DATETIME NOT NULL COMMENT '(DC2Type:datetime_immutable)',
    duration INT NOT NULL,
    distance INT NOT NULL,
    passengers_max SMALLINT NOT NULL,
    cost INT NOT NULL,
    state VARCHAR(255) NOT NULL,
    INDEX IDX_67FF2BD75BE55CB4 (arrival),
    INDEX IDX_67FF2BD7AA9E377A (date),
    INDEX IDX_67FF2BD7A393D2FB (state),
    INDEX IDX_67FF2BD736D5B633 (driver_uuid),
    INDEX IDX_67FF2BD71A15440A (car_uuid),
    INDEX idx_search_criteria (departure, arrival, date, passengers_max),
    PRIMARY KEY (uuid)
);

CREATE TABLE travel_preferences (
    travel_id UUID NOT NULL COMMENT '(DC2Type:uuid)',
    is_smoking_allowed TINYINT (1) NOT NULL,
    is_pets_allowed TINYINT (1) NOT NULL,
    luggage_size INT NOT NULL,
    comment LONGTEXT DEFAULT NULL,
    INDEX IDX_F6B2907A6B238DF5 (is_smoking_allowed),
    INDEX IDX_F6B2907A8AB314B8 (is_pets_allowed),
    INDEX IDX_F6B2907AB46F05F8 (luggage_size),
    PRIMARY KEY (travel_id)
);

CREATE TABLE users (
    uuid UUID NOT NULL COMMENT '(DC2Type:uuid)',
    password VARCHAR(255) NOT NULL,
    created_at DATETIME NOT NULL COMMENT '(DC2Type:datetime_immutable)',
    first_name VARCHAR(255) NOT NULL,
    last_name VARCHAR(255) NOT NULL,
    username VARCHAR(255) NOT NULL,
    email VARCHAR(255) NOT NULL,
    email_hash VARCHAR(64) NOT NULL,
    phone VARCHAR(255) NOT NULL,
    credits INT NOT NULL,
    bio LONGTEXT DEFAULT NULL,
    is_verified TINYINT (1) NOT NULL,
    rating_average NUMERIC(3, 2) DEFAULT NULL,
    UNIQUE INDEX UNIQ_1483A5E9E7927C74 (email),
    UNIQUE INDEX UNIQ_1483A5E94E8E423D (email_hash),
    INDEX IDX_1483A5E94E8E423D (email_hash),
    UNIQUE INDEX UNIQ_1483A5E9444F97DD (phone),
    PRIMARY KEY (uuid)
);

ALTER TABLE cars ADD CONSTRAINT FK_95C71D1444F5D008 FOREIGN KEY (brand_id) REFERENCES brands (id);
ALTER TABLE cars ADD CONSTRAINT FK_95C71D147975B7E7 FOREIGN KEY (model_id) REFERENCES models (id);
ALTER TABLE car_user ADD CONSTRAINT FK_46F9C2E51A15440A FOREIGN KEY (car_uuid) REFERENCES cars (uuid);
ALTER TABLE car_user ADD CONSTRAINT FK_46F9C2E5ABFE1C6F FOREIGN KEY (user_uuid) REFERENCES users (uuid);
ALTER TABLE Carpoolers ADD CONSTRAINT FK_D62B20651A27B30B FOREIGN KEY (travel_uuid) REFERENCES travels (uuid);
ALTER TABLE Carpoolers ADD CONSTRAINT FK_D62B2065ABFE1C6F FOREIGN KEY (user_uuid) REFERENCES users (uuid);
ALTER TABLE models ADD CONSTRAINT FK_E4D6300944F5D008 FOREIGN KEY (brand_id) REFERENCES brands (id);
ALTER TABLE reviews ADD CONSTRAINT FK_6970EB0F3590D879 FOREIGN KEY (author_uuid) REFERENCES users (uuid);
ALTER TABLE reviews ADD CONSTRAINT FK_6970EB0FABFE1C6F FOREIGN KEY (user_uuid) REFERENCES users (uuid);
ALTER TABLE roles ADD CONSTRAINT FK_B63E2EC7ABFE1C6F FOREIGN KEY (user_uuid) REFERENCES users (uuid);
ALTER TABLE transactions ADD CONSTRAINT FK_EAA81A4CABFE1C6F FOREIGN KEY (user_uuid) REFERENCES users (uuid);
ALTER TABLE travels ADD CONSTRAINT FK_67FF2BD736D5B633 FOREIGN KEY (driver_uuid) REFERENCES users (uuid) ON DELETE CASCADE;
ALTER TABLE travels ADD CONSTRAINT FK_67FF2BD71A15440A FOREIGN KEY (car_uuid) REFERENCES cars (uuid) ON DELETE CASCADE;
ALTER TABLE travel_preferences ADD CONSTRAINT FK_F6B2907AECAB15B3 FOREIGN KEY (travel_id) REFERENCES travels (uuid);