{% set flash_messages = app.flashes() %}
{% for type, messages in flash_messages %}
    {% for message in messages %}
        <div class="alert alert-{{ type == 'error' ? 'danger' : (type == 'success' ? 'success' : 'info') }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}