<footer class="eco-container" hx-boost="false">
    <div class="footer-block">
        <h5 class="eco-title-text color-light">EcoRide</h5>
        <p>Covoiturage écologique pour un avenir durable</p>
    </div>

    <div class="footer-block">
        <ul class="list-inline color-light">
            <li class="list-inline-item">
                <a href="#" class="text-decoration-none">Mentions légales</a>
            </li>
            <li class="list-inline-item">
                <a href="{{ path('app_contact') }}" class="text-decoration-none">Contact</a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="text-decoration-none">CGU</a>
            </li>
        </ul>
        <p>
            <small>&copy; {{ "now"|date("Y") }} EcoRide - Tous droits réservés</small>
        </p>
        <a href="mailto:contact@ecoride.com" class="text-decoration-none">
            <small>contact@ecoride.com</small>
        </a>
    </div>
</footer>
