<nav id="profile-nav">
    <ul class="profile-nav-list">
        <li>
            <a class="profile-nav-link" href="{{ path('app_profile_index') }}">Mon profil</a>
        </li>
        <li>
            <a class="profile-nav-link" href="{{ path('app_car_index') }}">Mes voitures</a>
        </li>
    </ul>
</nav>