<div class="profile-picture justify-self-center w-auto h-44 mb-1 rounded-circle overflow-hidden">
    <img    src="{{ avatar | default(asset('images/ui/profile-placeholder.jpg')) }}" class="h-100 object-fit-cover"
            alt="Image de profil de {{ username | decrypt }}">
</div>