{% extends 'base.html.twig' %}

{% block title %}EcoRide - Administration{% endblock %}

{% block importmap %}
    {{ importmap(['app', 'scripts/specific/admin']) }}
{% endblock %}

{% block main %}

<div class="container">
    <h1>Administration EcoRide</h1>
    <h5>Voyages par jour (30 derniers jours)</h5>
    <div class="">
        <canvas id="dailyChart" aria-label="Graphique des voyages" role="img" 
                data-chart="line" 
                data-chart-data='{
                    "labels": {{ chartTravels|map(label => label.period)|json_encode }},
                    "datasets": [{
                        "label": "Voyages à cette date",
                        "data": {{ chartTravels|map(data => data.count)|json_encode }},
                        {# TODO get color from css #}
                        "borderColor": "#198754",
                        "backgroundColor": "#85c26666",
                        "fill": true
                    }]
                }'>
        </canvas>
    </div>
</div>
{% endblock %}
