<nav id="profile-nav" class="container navbar justify-content-start" aria-label="Navigation du profil utilisateur">
    <ul class="navbar-nav flex-row gap-2">
        <li>
            <a class="eco-nav-link eco-normal-text" href="{{ path('app_profile_index') }}">Mon profil</a>
        </li>
        <li>
            <a class="eco-nav-link eco-normal-text" href="{{ path('app_admin_moderators') }}">Modérateurs</a>
        </li>
        <li>
            <a class="eco-nav-link eco-normal-text" href="{{ path('app_admin_graphics') }}">Graphiques</a>
        </li>
    </ul>
</nav>