<nav id="profile-nav" class="container navbar justify-content-start" aria-label="Navigation du profil utilisateur">
    <ul class="navbar-nav flex-row gap-2">
        <li>
            <a class="eco-nav-link eco-normal-text" href="{{ path('app_profile_index') }}">Mon profil</a>
        </li>
        <li>
            <a class=" eco-nav-link eco-normal-text" href="{{ path('app_car_index') }}">Mes voitures</a>
        </li>
        <li>
            <a class=" eco-nav-link eco-normal-text" href="{{ path('app_profile_travel_history') }}">Historique des trajets</a>
        </li>
        <li>
            <a class=" eco-nav-link eco-normal-text" href="{{ path('app_credits_index') }}">Crédits</a>
        </li>
    </ul>
</nav>