.transaction-card-index {
    height: fit-content;
    width: fit-content;
    display: grid;
    column-gap: 8px;
    grid-template-areas:    "date info"
                            "comment comment"
}

.ga-transaction-date {
    grid-area: date;
}

.ga-transaction-info {
    grid-area: info;
}

.ga-transaction-comment {
    grid-area: comment;
}