@use './_utils' as utils;
@use './_variables' as vars;

.eco-form > div > input.is-invalid {
    animation: shake 300ms;
}

@keyframes shake {
    25% { transform: translateX(4px);} 
    50% { transform: translateX(-4px);}
    75% { transform: translateX(4px);}
}

.form-check-input {
    // vertical align checkbox with label
    margin-top: 0 !important;
}

.form-header {
    padding: utils.px-size(8) 0;
    margin-bottom: utils.px-size(30);
    background-color: vars.$title-color;
    color: vars.$text-light-color;
    text-align: center;
}