@use './_utils' as utils;
@use './_variables' as vars;

#navbar {
    min-height: 54px;
}

#nav-brand {
    // margin-right: utils.px-size(30);
}

.navbar-toggler {
    width: 44px;
    padding: 0;
}

@media (min-width: 768px) {
    #navbarNav > ul {
        gap: utils.px-size(16);
    }
}

/* tablet */
@media (min-width: 768px) {
    #navbarNav {
        margin-left: calc(-88.16px + 22px + (100% - 64px - 140px) / 8);
    }
}

/* desktop */
@media (min-width: 1200px) {
    #navbarNav {
        margin-left: calc(-88.16px + 52px + (100% - 320px) / 6);
    }
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.eco-nav-link {
    display: block;
    width: fit-content;
    padding: utils.px-size(3) 0;
    color: vars.$interactive-color;
    text-decoration: none;
}

.eco-nav-active {
    text-decoration: underline;
    text-underline-offset: 4px;
}

@media (min-width: 768px) {
    .eco-nav-link {
        margin: 0 utils.px-size(3);
    }
}

.profile-picture {
    width: 40px;
    height: 40px;
    margin: 2px 2px;
    border-radius: 50%;
    overflow: hidden;
    img {
        height: 100%;
        object-fit: cover;
    }
}