:root {
    // Variables Bootstrap overrides
    --bs-light-rgb: 255, 255, 255;
    --bs-body-font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --bs-body-line-height: 1;
    --bs-navbar-toggler-focus-width: 0px;
}

// Typography
$eco-title-font-family: 'RymanEco', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$eco-font-family: var(--bs-body-font-family);

// Colors
$background-color: #FFF;
$secondary-background-color: #212529;
$third-background-color: #D1D1D1;
$interactive-color: #134E1D;
$title-color: #A1F278;
$text-color: #333;
$text-light-color: #FFF;
$text-secondary-background-color: $background-color;

$border-radius: 8px;
$border-radius-small: 4px;