@use './_utils' as utils;
@use './_variables' as vars;
@use './_nav-bar';
@use './_footer';
@use './_form';
@use './_htmx';
@use './_dev';


// Police personnalisée EcoRide
@font-face {
    font-family: 'RymanEco';
    src: url('../fonts/RymanEco-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// Mixins

// Styles globaux EcoRide
body {
    color: vars.$text-color;
    background-color: vars.$background-color;
}

html, body {
    height: 100%;
}

// Containers
$container-padding-mobile: 16px;
$container-padding-tablet: 32px;
$container-padding-desktop: 160px;
$container-main-padding-desktop: 310px;

@mixin eco-container($left: $container-padding-mobile, $right: $container-padding-mobile) {
    width: 100%;
    box-sizing: border-box;
    padding-left: $left;
    padding-right: $right;
}

@function eco-container-desktop-padding() {
    @return calc($container-padding-desktop + 40px + (100% - ($container-padding-desktop * 2) - 220px) / 6);
}

.eco-container { @include eco-container(); }
.eco-container-main { @include eco-container(); }

@media (min-width: 768px) {
    .eco-container { @include eco-container($container-padding-tablet, $container-padding-tablet); }
    .eco-container-main { @include eco-container($container-padding-tablet, $container-padding-tablet); }
}

@media (min-width: 1200px) {
    .eco-container { @include eco-container($container-padding-desktop, $container-padding-desktop); }
    .eco-container-main { @include eco-container(eco-container-desktop-padding(), eco-container-desktop-padding()); }
}

// Typography
a, p {
    font-style: normal;
    font-weight: 400;
}

.eco-small-text {
    font-size: utils.rem(12);
}

.eco-normal-text {
    font-size: utils.rem(16);
}

.eco-bold-text {
    font-weight: 600;
}

.eco-title-text {
    font-family: vars.$eco-title-font-family;
    color: vars.$title-color;
    font-size: utils.rem(24);
}

// S'assurer que le footer reste en bas
.min-vh-100 {
    min-height: 100vh !important;
}

// colors
a, button {
    color: vars.$interactive-color !important;
}

.color-interact {
    color: vars.$interactive-color !important;
}

.color-light {
    color: vars.$text-light-color !important;
}