{% extends 'base.html.twig' %}

{% block title %}EcoRide - Voyager{% endblock %}

{% block importmap %}
    {{ importmap(['app', 'travel.css']) }}
{% endblock %}

{% block main %}
<div class="form-header eco-page-text text-center">
    <h1>Créer un trajet</h1>
</div>

<section class="eco-container-main">

    {% if map %}
        {{ ux_map(map, {'id': 'map'}) }}
    {% endif %}

    {% include 'partials/_flashes.html.twig' %}

    {{ form_start(form, {'attr': {'class': 'eco-form eco-container-main'}}) }}
    {{ form_end(form) }}
</section>

{% endblock %}