{% extends 'base.html.twig' %}

{% block title %}EcoRide - Voyager{% endblock %}

{% block main %}
<twig:TravelSearchBar :form="search_form" />
<div class="container">
    <P>Tous les trajets</P>
    {{ dump(all_travels) }}

    <p>{{ travels|length }} trajets trouvés. en fonction des critères de recherche.</p>
    {{ dump(travels) }}
</div>

{% endblock %}
