{# Multiple travels overview #}
{% import 'travel/macros/travelOverview.html.twig' as travelMacro %}

{% include 'partials/_flashes.html.twig' %}

{% set currentTravel = null %}

{% if travels is not empty %}
    {% set currentFuelType = null %}
    
    {% for travel in travels %}
        {% set fuelCategory = travel.fuelType.value == 'electric' ? 'Écologique' : 'Carburant' %}

        {% if currentFuelType != fuelCategory %}
            <h2 class="eco-title-text mb-1 mt-3">{{ fuelCategory }}</h2>
            {% set currentFuelType = fuelCategory %}
        {% endif %}

        {{ travelMacro.overview(travel, criteria) }}
    {% endfor %}

    {% include 'partials/_pagination.html.twig' with {'totalEntries': totalTravels} %}

{% endif %}