@use '../../_utils' as utils;
@use '../../_variables' as vars;

#map {
    width: 100%;
    height: 40vh;
    min-height: 300px;
    background-color: vars.$third-background-color;
    overflow: hidden;
}

.travel-card-show {
    margin-top: 2rem;
    height: fit-content !important;
    grid-template-rows: 24px auto;
    grid-template-areas:    "date schedule schedule places"
                            ". address address properties";
}

.ga-properties {
    grid-area: properties;
    height: 24px;
    display: flex;
    justify-content: center;
}

.travel-interaction {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 24px auto;
    column-gap: 20px;
    grid-template-areas:    ". . . price"
                            "message . . book";
}

.ga-message {
    grid-area: message;
    align-self: center;
    justify-self: center;
}

.ga-book {
    grid-area: book;
    align-self: center;
    justify-self: center;
}

.user-card {
    height: fit-content;
    width: fit-content;
    width: 100%;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 0.8fr 2.6fr;
    grid-template-rows: 18px auto;
    grid-template-areas:"user-img user-resume"
                        "user-img user-bio";
}

@media (min-width: 768px) {
    .user-card {
        grid-template-columns: 0.8fr 6.7fr;
        grid-template-areas:"user-img user-resume"
                            "user-img user-bio";
    }
}

.ga-user-img {
    grid-area: user-img;
    width: 60px;
    height: auto;
    aspect-ratio: 1;
    justify-self: center;

    > .profile-picture {
        width: 100% !important;
        height: 100% !important;
    }
}

.ga-user-resume {
    grid-area: user-resume;
}

.ga-user-bio {
    grid-area: user-bio;
}