@use '../_variables' as vars;
@use '../_utils' as utils;
@use '../components/travel-search-bar.scss';

.hero {
    height: 0px;
    background: #A1F278;
    width: 100%;
    animation: opening 1.5s ease-out forwards;
}

@keyframes opening {
    30% {
        height: 0;
    }
    100% {
        height: 360px;
    }
}

.decor {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
}

.up-front {
    fill: vars.$background-color;
    top: -1px;
    z-index: 2;
}

.up-back {
    fill: rgba(19, 78, 29, 0.50);
    top: 0;
    z-index: 1;
}

.bottom-front {
    fill: vars.$background-color;
    bottom: -1px;
    z-index: 2;
}

.bottom-back {
    fill: rgba(19, 78, 29, 0.50);
    bottom: 0;
    z-index: 1;
}

.ecoride-logo-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 268px;
    z-index: 0;
}

#cards {
    gap: utils.px-size(24);
    margin-top: utils.px-size(30);
}

.eco-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: utils.px-size(8);
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    border: 0;
}

@function eco-card-width-mobile() {
    @return calc( 60px + (100% - 60px) /2 );
}

@function eco-card-width-tablet() {
    @return calc(40px + (100% - 100px) / 2);
}

.eco-card-img {
    width: eco-card-width-mobile();
    height: auto;
    aspect-ratio: 262 / 148;
    object-fit: cover;
    border-radius: vars.$border-radius;
}

.eco-card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: eco-card-width-mobile();
}

@media (min-width: 768px) {
    .eco-card {
        justify-content: space-between;
        padding: 0 calc(20px + (100% - 140px) / 8 );
        gap: utils.px-size(10);
    }

    .eco-card-img {
        width: eco-card-width-tablet();
    }

    .eco-card-text {
        width: eco-card-width-tablet();
    }
}

@media (min-width: 1200px) {
    .eco-card {
        padding: 0 0;
    }
}